@use "../../foundation/variables" as *;
@use "../../foundation/breakpoints" as g;
/*!
component > animation
------------------------------
*/
/*
  @media (any-hover: hover) {
    &:hover {

    }
  }
  @include g.mq() {
  }
*/

.c-animation-default {
  transform: translateY(60px);
  opacity: 0;
  transition:
    opacity 1.2s cubic-bezier(0.25, 1, 0.5, 1),
    transform 1.2s cubic-bezier(0.25, 1, 0.5, 1);
}

.c-animation-show {
  transform: translateY(0);
  opacity: 1;
}
