@use "../../foundation/variables" as *;
@use "../../foundation/breakpoints" as g;
/*!
component > animation
------------------------------
*/
/*
  @media (any-hover: hover) {
    &:hover {

    }
  }
  @include g.mq() {
  }
*/

.c-animation-default {
  transform: translateY(-60px);
  opacity: 0;
  transition:
    transform 0.6s ease,
    opacity 0.6s ease;
}

.c-animation-show {
  transform: translateY(0);
  opacity: 1;
}
